{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css'  %}">
    <title>Document</title>
</head>
<body>
     <!--Footer strat-->
     <div class="row mt-4 bg-dark-subtle">
        <div class="col-md-3">
            <h5>About Us</h5>
            <hr>
            <p>The iPhone is a smartphone made by Apple that combines a computer, iPod, digital camera and
                cellular phone into one device with a touchscreen interface. </p>
        </div>

        <div class="col-md-3">
            <h5>Address</h5>
            <hr>
            Sanpada college of commerce & technology
            <p><a href=""><i class="bi bi-telephone"></i></a>&nbsp;&nbsp;7304181506</p>
            <p><a href=""><i class="bi bi-envelope-at"></i></a>&nbsp;&nbsp;shaban@gmail.com</p>
        </div>

        <div class="col-md-3">
            <h5>Quick Links</h5>
            <hr>
            <p><a href="/home" class="anchor">Home</a></p>
            <p><a href="/about" class="anchor">About Us</a></p>
            <p><a href="/pdetails" class="anchor">product</a></p>
            <p><a href="index.html" class="anchor">Home</a></p>
        </div>

        <div class="col-md-3">
            <div class="row">

                <h5>Contact Us</h5><br>
                <br>
                <br>

                <div class="col-md-2">
                    <h5><a href=""><i class="bi bi-facebook text-success"></i></a></h5>
                </div>
                <div class="col-md-2">
                    <h5><a href=""><i class="bi bi-instagram"></i></a></h5>
                </div>
                <div class="col-md-2">
                    <h5><a href=""><i class="bi bi-twitter-x"></i></a></h5>
                </div>
                <div class="col-md-2">
                    <h5><a href=""><i class="bi bi-linkedin"></i></a></h5>
                </div>
            </div>
    </div>
</div>
    
</body>
</html>